*

# repository
!LICENSE
!README.*

# git
!.gitignore

# fstab
!fstab

# kernel
!mkinitcpio.conf
!mkinitcpio.d
!mkinitcpio.d/linux.preset
!mkinitcpio.d/linux-lts.preset

# pacman
!pacman.conf
!pacman.d
!pacman.d/pkglist
!pacman.d/mirrorlist

# slim
!slim.conf

# locale
!locale.conf
!locale.gen

# systemd
!systemd
!systemd/logind.conf

# sudo
!sudoers

# X11
!X11
!X11/xorg.conf.d
!X11/xorg.conf.d/20-intel.conf
!X11/xorg.conf.d/50-synaptics.conf
